<div class="col-xs-6 col-xs-offset-2">
  <h2>Invite Your Partner</h2>
  <form action="<%= invite_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <div class="form-group">
      <label for="p_email">Partner's email address</label>
      <input type="text" name="invite[p_email]" id="p_email" class="form-control"
              value ="<%= @invite.p_email %>"/>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea type="text" id="message" class="form-control"
                name="invite[message]"/><%= @invite.message %></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
<div class="col-xs-4"></div>