<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=150159351832469";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row" id="home">
  <!-- <img src="/assets/home/main_background_copy.jpg" alt="welcome" id="container-1-bg"/> -->
  <div class="centralized">
    <div id="logo-box" class="text-center">
      <h1 class="logo">Couplify</h1>
    </div>
    <div style="margin-bottom: 30px;">
      <button class="btn btn-primary" >Sign Up</button>
    </div>
    <div class="social well">
      <div class="fb-like" data-href="http://couplify.me" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-related="FongChinxx" data-lang="en" data-size="large" data-count="none">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      
    </div>
    
  </div>

</div>


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=150159351832469";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
