<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=150159351832469";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row" id="home">
  <div class="centralized">
    <div id="logo-box" class="text-center">
      <h1 class="logo">Couplify</h1>
    </div>
    <a href="/users/sign_up" class="btn btn-primary">Sign Up</a>
    <form action="/users/sign_in" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="user[email]" value="couplify.one@gmail.com" />
      <input type="hidden" name="user[password]" value="abcdefgh" />
      <button class="btn btn-primary" type="submit">Log in as guest #1</button>
    </form>
    <form action="/users/sign_in" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="user[email]" value="couplify.two@gmail.com" />
      <input type="hidden" name="user[password]" value="abcdefgh" />
      <button class="btn btn-primary" type="submit">Log in as guest #2</button>
    </form>
    <div style="margin-bottom: 30px;">
      
    </div>    
  </div>
</div>

<div id="features" class="">
  <div class="row">
    <h2 class="text-left">Features</h2>
    <p class="text-left">Capture you and your partner special moments by sharing a profile together. Users can either send in their post to their Couplify email or create multiple posts directly by dragging and dropping images. </p>
  </div>
  <div class="row">
    <h2 class="text-left">About this project</h2>
    <br />
    <h4 class="text-left">APIs used</h4>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <ul style="">
        <li>SendGrid</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <ul style="">
        <li>Pusher</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <ul style="">
        <li>Amazon S3</li>
      </ul>
    </div>
  </div>
</div>

<div class="well text-center">
  <div class="fb-like" data-href="http://couplify.me" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-related="FongChinxx" data-lang="en" data-size="large" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
</div>


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=150159351832469";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
