<div class="row" id="welcome">
  <img src="/assets/home/main_background_copy.jpg" alt="welcome" id="container-1-bg"/>
  <div class="centralized">
    <h1 class="logo">Couplify</h1>
  </div>
</div>

<div class="row">
  
</div>