<h2><%= @user.first_name %> <%= @user.last_name %> has invited you to share your moments with him</h2>
<p>
  <%= @user.first_name %> says:
</p>
<p>
  <%= @invite.message %>
</p>
<a href="http://localhost:3000">Sign up here!</a>