<div class="row">
  <br />
  <div id="upload-photo-div" >
    <form action="/couples/<%= @couple.profile_name %>/posts" method="POST" 
          enctype="multipart/form-data"
          class="dropzone" id="dropzone-form" >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div class="dz-default dz-message">
        <h2 class="text-center">Drag and Drop files to upload picture</h2>
      </div>
      <br />
    </form>
    <form action="/couples/<%= @couple.profile_name %>/update_posts" method="POST" id="put-form" class="hidden">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method" value="PUT" />
      <div id="preview-posts"></div>
      <div class="text-center" id="submit-btn-div">
        <button class="btn btn-primary btn-lg btn-block" type="submit" id="submit-btn">Save</button>
      </div>
    </form>
  </div>
  
</div>

<script type="text/template" id="preview-template">
  <div class="preview-post dz-preview">
     <button class="delete-preview">x</button>
     <input type="hidden" class="preview-post-id" name="posts[id]" value=""/>
     <div class="preview-post-body">
        <textarea rows="3" class="form-control preview-post-body-textarea" name="posts[body]" placeholder="your message" /></textarea>
     </div>
     <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
     <div class="dz-error-message"><span data-dz-errormessage></span></div>
     <img data-dz-thumbnail alt="" class="">
     <div class="dz-filename text-center"><span data-dz-name></span></div>
     <div class="dz-size text-center" data-dz-size></div>
  </div>
</script>

<script type="text/javascript">
  var previewTemplate = $('#preview-template').html();

  var fileAddedCallback = function (file, url){
    console.log('thumbnail is first?')
    $('#dropzone-form').addClass('hidden');
  }

  var fileUploadSuccess = function(file, data, error){
    $(file.previewTemplate).find('.preview-post-body-textarea').attr('name', 'posts[' + data.id + '][body]');
    $(file.previewTemplate).find('.preview-post-id').attr('name', 'posts[' + data.id + '][id]');
    $(file.previewTemplate).find('.preview-post-id').attr('value', data.id);
    $(file.previewTemplate).find('.delete-preview').attr('data-id', data.id);
    $('#preview-posts').append(file.previewTemplate);
    $('#put-form').removeClass('hidden');
  }

  Dropzone.options.dropzoneForm = {
    previewTemplate: previewTemplate,
    paramName: "post[image]",
    init: function(){
      this.on("thumbnail", fileAddedCallback);
      this.on("success", fileUploadSuccess);
    }
  }
</script>
