<div class="row">
  <br />
  <div id="upload-photo-div" >
    <form action="/couples/<%= @couple.profile_name %>/posts" method="POST" 
          enctype="multipart/form-data"
          class="" id="dropzone-form" >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div class="dz-default dz-message">
        <h2 class="text-center uploading" id="dz-instruction" >Drag and Drop files to upload picture</h2>
        <!-- <img src="/assets/loading.gif" alt="loading..." class="center hidden" id="uploading-image" style="padding: 30px;"/> -->
        <div class="progress progress-striped hidden uploading">
          <div class="progress-bar progress-bar-success" id="progress-bar" role="progressbar" style="width: 0%">
          </div>
        </div>
      </div>
      <br />
    </form>
    <form action="/couples/<%= @couple.profile_name %>/update_posts" method="POST" id="put-form" class="hidden">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method" value="PUT" />
      <div id="preview-posts"></div>
      <div class="text-center" id="submit-btn-div">
        <button class="btn btn-primary btn-lg btn-block" type="submit" id="submit-btn">Save</button>
      </div>
    </form>
  </div>
  
</div>

<script type="text/template" id="preview-template">
  <div class="preview-post dz-preview">
     <span class="delete-preview">x</span>
     <input type="hidden" class="preview-post-id" name="posts[id]" value=""/>
     <div class="preview-post-body">
        <textarea rows="3" class="form-control preview-post-body-textarea" name="posts[body]" placeholder="your message" /></textarea>
     </div>
     <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
     <div class="dz-error-message"><span data-dz-errormessage></span></div>
     <img data-dz-thumbnail alt="" class="">
     <div class="dz-filename text-center"><span data-dz-name></span></div>
     <div class="dz-size text-center" data-dz-size></div>
  </div>
</script>

