// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome {
  height: 600px;
  background: #292929 url('/assets/home/main_background.jpg') 50% 0 repeat fixed;
  background-position: 0% 0px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centralized {
  text-align: center;
  margin: 200px auto;
}

.logo{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 70px;
  font-size: 80px;
}
