// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centralized {
  text-align: center;
  margin-top: 10%;
}

.social{
  position: fixed;
  bottom: 0;
  left: 0;
}

#logo-box{
  width: 320px;
  height: 290px;
  background-image: url("/assets/home/origami-heart.png");
  margin: auto;
}

.logo{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 70px;
  font-size: 70px;
  padding-top: 80px;
}

@media screen and (max-width: 568px) {
  h1 {
    font-size: 50px;
  }
}

#home{
  background-image: url("/assets/home/main_background.jpg");
  background-size: cover;
  height: 600px;
}

#features{
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
  background-color: #ebeef5;
}