// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome {
  height: 600px;
}

#container-1-bg{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50;
  left: 0;
  z-index: -1;
}

.centralized {
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 70px;
  font-size: 80px;
}

@media screen and (max-width: 568px) {
  h1 {
    font-size: 50px;
  }
}
